/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.header{
	background: #414141 ;
	height: 55px;
	text-align: center;
}

.header_logo{
	line-height: 0;
	margin:0;
}

.header_logo a img{
	display: inline-block;
	height: 55px;
	width: auto;
}

.header ul{
	line-height: 55px;
	margin-top: -55px;
	list-style: none;
}

.questionslist{
	float:left;
	display: inline-block;
}

.ewpost{
	float:right;
	display: inline-block;
}

.header ul li a img{
	height: auto;
	width: 30px;
}

.questionslist{
	margin-left: auto;
	float: left;
}

.newpost{
	float:right;
	margin-left:auto;
}













