/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.header{
    border-top: 3px solid #888 ;		/* 枠線 */
	text-align: center ;	/* テキスト、画像の真ん中寄せ */
	margin-top: 0 ;	/* 他のブロックとのスペース */
	height: 150px;
	background: #414141 ;
	display: block;
}

.logo{
	font-size: 25px;
	top: 3px;
    height: 25px;
    margin: 0 auto;
    margin-top: 13px;
    float:center;
    margin-left: auto;
    margin-right: auto;
}

.header_b{
	list-style:none;
}

img{
    display: inline-block;
    width: 45px;
}

.questionslist{
	margin-left: auto;
	float: left;
}

.newpost{
	float:right;
	margin-left:auto;
}













